* {
    font-size: .9rem;
}

ion-title {
    text-align: center;
    color: var(--ion-color-contrast);
    font-size: 1.2rem;
}

ion-input {
    color: var(--ion-color-contrast);
    text-indent: 10px;
}

.toast {
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: #48ff00;
}