#box-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    ion-searchbar {
        width: 320px;
    }

    ion-button {
        font-weight: bold;
        width: 150px;
    }
}

ion-content {
    height: 100vh;
    ion-card {
        padding: 5px;
    }
}

.table-container {
    flex-wrap: nowrap;
    overflow: auto;

    .table-row {
        flex-wrap: nowrap;
        width: 100%;

        .table-col {
            flex-wrap: nowrap;

            width: 170px;
            min-width: 170px;
            max-width: 170px;

            background-color: #fff;

            padding: 10px;
            margin: 5px;
            font-size: 0.9rem;
            border-radius: 5px;
        }

        #edit-product {
            max-width: 50px;
            min-width: 50px;

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #d3d3d3;
            cursor: pointer;

            ion-icon {
                width: 35px;
                height: 30px;
            }
        }

        #edit-product:hover {
            background-color: rgb(195, 195, 195);
            transition: all 0.2s;
        }

        .table-header {
            background-color: #eaeaea;
            font-size: 1rem;
            font-weight: bold;
            position: sticky;
        }
    }

}

@media screen and (max-width: 600px) {
    .table-container {
        height: 65vh;
    }
    #box-filters {
        display: flex;
        flex-direction: column;

        ion-searchbar {
            width: 95%;
        }

        ion-button {
            width: 70%;
        }

    }
}
