<div id="box-filters">
  <ion-searchbar color="secondary" placeholder="Pesquise por um produto"
    (ionChange)="searchProducts($event)"></ion-searchbar>
  <ion-button color="secondary" id="popover-filters"> Filtros </ion-button>

  <ion-button color="secondary" id="popover-farol">
    Farol
  </ion-button>

  <ion-popover trigger="popover-farol">
    <ng-template>
      <ion-content>

        <div class="farol-div">
          <ion-button id="button-green" (click)="filterByColor('green')">Filtrar Verde</ion-button>
          <ion-button id="button-yellow" (click)="filterByColor('yellow')">Filtrar Amarelo</ion-button>
          <ion-button id="button-red" (click)="filterByColor('red')">Filtrar Vermelho</ion-button>
        </div>
          
        <ion-item color="danger" button (click)="removeFilters()">Remover Farol</ion-item>

      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="popover-filters">
    <ng-template>
      <ion-content>

        <ion-item color="dark">
          <ion-select placeholder="Marcas" [(ngModel)]="selectedMark" (ionChange)="filterProducts('mark')">
            <ion-select-option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="dark">
          <ion-input label="Data de cadastro" [(ngModel)]="selectedDate" type="date" labelPlacement="floating"
            placeholder="Data" (ionChange)="filterProducts('date')"></ion-input>
        </ion-item>

        <ion-item color="dark">
          <ion-input label="Data de validade" [(ngModel)]="selectedValidate" type="date" labelPlacement="floating"
            placeholder="Data" (ionChange)="filterProducts('validate')"></ion-input>
        </ion-item>

        <ion-item color="danger" button (click)="removeFilters()">Remover Filtros</ion-item>

      </ion-content>
    </ng-template>
  </ion-popover>
</div>

<main>
  <ion-grid class="table-container">
    <ion-row class="table-row">
      <ion-col class="table-col table-header">Produto</ion-col>
      <ion-col class="table-col table-header">Marca</ion-col>
      <ion-col class="table-col table-header">Data Inscricação</ion-col>
      <ion-col class="table-col table-header">Validade</ion-col>
      <ion-col class="table-col table-header">Estoque</ion-col>
      <ion-col class="table-col table-header">Entrada</ion-col>
      <ion-col class="table-col table-header">Saida</ion-col>
    </ion-row>
    <ion-row class="table-row" *ngFor="let product of filteredProducts" [ngClass]="getColorClass(product)">
      <ion-col class="table-col">{{ product.nome }}</ion-col>
      <ion-col class="table-col">{{ product.marca }}</ion-col>
      <ion-col class="table-col">{{ product.data_inscricao }}</ion-col>
      <ion-col class="table-col">{{ product.data_validade }}</ion-col>
      <ion-col class="table-col">{{ product.estoque_inicial }}</ion-col>
      <ion-col class="table-col">{{ product.entrada }}</ion-col>
      <ion-col class="table-col">{{ product.saida}}</ion-col>
      <ion-col class="table-col ion-padding" id="edit-product" (click)="openPopoverEdit($event, product)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</main>

<ion-card *ngIf="errorGetProducts == true; ">
  <ion-title>Falha ao recuperar itens</ion-title>
</ion-card>

<ion-card *ngIf="products.length === 0">
  <ion-title>Sem produtos</ion-title>
</ion-card>