
<ion-content color="contrast">

  <div>
    <ion-searchbar color="contrast" placeholder="Pesquise por um produto"></ion-searchbar>
    
    <ion-button color="contrast">
      Filtros
    </ion-button>
  </div>

  <ion-grid class="table-container scroll-x"scrollX="true">

    <ion-row class="table-row" >
      <ion-col class="table-col table-header">Codigo</ion-col>
      <ion-col class="table-col table-header">Produto</ion-col>
      <ion-col class="table-col table-header">Marca</ion-col>
      <ion-col class="table-col table-header">DAta</ion-col>
      <ion-col class="table-col table-header">Estoque</ion-col>
      <ion-col class="table-col table-header">Saida</ion-col>
      <ion-col class="table-col table-header">Entrada</ion-col>
    </ion-row>
    
    <ion-row class="table-row" >
      <ion-col class="table-col">001</ion-col>
      <ion-col class="table-col">Produto 1</ion-col>
      <ion-col class="table-col">Marca A</ion-col>
      <ion-col class="table-col">01/01/2021</ion-col>
      <ion-col class="table-col">10</ion-col>
      <ion-col class="table-col">2</ion-col>
      <ion-col class="table-col">1</ion-col>
    </ion-row>

    <ion-row class="table-row" >
      <ion-col class="table-col">002</ion-col>
      <ion-col class="table-col">Produto 2</ion-col>
      <ion-col class="table-col">Marca B</ion-col>
      <ion-col class="table-col">02/01/2021</ion-col>
      <ion-col class="table-col">20</ion-col>
      <ion-col class="table-col">5</ion-col>
      <ion-col class="table-col">3</ion-col>
    </ion-row>

    <ion-row class="table-row" >
      <ion-col class="table-col">003</ion-col>
      <ion-col class="table-col">Produto 3</ion-col>
      <ion-col class="table-col">Marca C</ion-col>
      <ion-col class="table-col">03/01/2021</ion-col>
      <ion-col class="table-col">30</ion-col>
      <ion-col class="table-col">10</ion-col>
      <ion-col class="table-col">5</ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>