#box-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    ion-searchbar {
        width: 320px;
        max-width: 320px;
    }

    ion-button {
        font-weight: bold;
        width: 100px;
    }

    ion-select {
        color: black;
    }
 
}

ion-content {
    height: 90%;

    ion-card {
        padding: 5px;
    }
}



.table-container {
    flex-wrap: nowrap;
    overflow: auto;
  
    .table-row {
        flex-wrap: nowrap;
        width: 100%;

        .table-col {
            flex-wrap: nowrap;

            min-width: 100px;
            background-color: #fff;

            padding: 10px;
            margin: 5px;
            font-size: .9rem;
            border-radius: 5px;
        }

        #edit-product {
            max-width: 50px;
            min-width: 50px;

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #d3d3d3;
            cursor: pointer;

            ion-icon {
                width: 35px;
                height: 30px;
            }
        }

        #edit-product:hover {
            background-color: rgb(195, 195, 195);
            transition: all .2s;
        }

        
        .table-header {
            background-color: #eaeaea;
            font-size: 1rem;
            font-weight: bold;
            position: sticky;
        }

    }
}
