#box-filters {
    display: flex;
    flex-direction: row;
    align-items: center;

    ion-searchbar {
        width: 320px;
    }

    ion-button {
        font-weight: bold;
        width: 150px;
    }
}

#header-exit,  #header-entry{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    width: 50%;

    .texto-vermelho {
        color: red;
        margin: 10px;
    }
    .texto-verde {
        color: green;
        margin: 10px;
    }

    ion-button {
        font-size: .8rem;
    }
    
    
}

#content {
    margin-top: 20px;

    .item {
        color: #000;
        padding: 10px;
        border-bottom: 1px solid gray;
    }
}

