<ion-content [fullscreen]="true">
  <main>
    <ion-card id="login-box">
      <ion-card-header>
        <ion-title id="login-title">Login</ion-title>
      </ion-card-header>
      <ion-card-content>
        
        <form [formGroup]="loginForm" >
          <ion-input label="Email:" labelPlacement="stacked" formControlName="email"></ion-input>
          <ion-input label="Password:" labelPlacement="stacked" formControlName="senha"></ion-input>
  
          <ion-button (click)="login()">Login</ion-button>
        </form>

        <span>Dont have an account? <a href="/signup">Signup</a></span>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>