<ion-content [fullscreen]="true">
  <main>
    <ion-card id="login-box">
      <ion-card-header>
        <a id="login-link" class="selected-login" href="/login">Login</a>
        <a id="login-link" class="selected-login" href="/login">Signup</a>

      </ion-card-header>
      <ion-card-content>
        <ion-input label="Email:" labelPlacement="stacked"></ion-input>
        <ion-input label="Password:" labelPlacement="stacked"></ion-input>

        <ion-button>Login</ion-button>
        <span>Dont have an account? <a href="/signup">Signup</a></span>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>