<ion-header>
  <a href="/home">
    <ion-title [ngClass]="{'active': isProdutosPage}">Produtos</ion-title>
  </a>
  
  <a href="/report">
    <ion-title [ngClass]="{'active': isReportPage}">Relatório</ion-title>
  </a>
  
  <ion-toolbar id="larger">
    <ion-button slot="end" outline="fill" (click)="openModalCreatePrdouct()">Novo Produto</ion-button>
    <ion-button slot="end" color="danger" outline="fill" (click)="logout()">Sair</ion-button>
  </ion-toolbar>

  <ion-toolbar id="smaller">
    <ion-icon slot="end" name="add-circle-sharp" (click)="openModalCreatePrdouct()"></ion-icon>
    <ion-icon color="danger" slot="end" name="log-out" (click)="logout()"></ion-icon>
  </ion-toolbar>

</ion-header>