* {
    font-size: 0.9rem;
}

a {
    list-style: none;
    color: #a3a3a3;
    text-decoration: none;
}

.active {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow: 2px 2px 1px #1194c0;
}

ion-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--ion-color-tertiary);
    height: 10vh;
    color: #fff;

    ion-title {
        height: 10vh;
        font-size: 1.2rem;
    }

    #smaller {
        display: none;
        color: #fff;

        ion-icon {
            width: 30px;
            height: 30px;
            margin: 0 5px;
            cursor: pointer;
        }
    }

    ion-toolbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        --background: var(--ion-color-tertiary);

        padding: 0 20px;
    }

    @media screen and (max-width: 650px) {
        #larger {
            display: none;
        }

        #smaller {
            display: flex;
        }
    }
}
