* {
    font-size: .9rem;
}

ion-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #264c62;
    height: 10vh;

    ion-title {
        height: 10vh;
        font-size: 1.2rem;
    }

    ion-toolbar {
        display: flex;
        flex-direction: row;

        #menu-button {
            display: none;
        }

        ion-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            float: right;


            ion-item {
                margin: 0px 10px;
            }
        }
    }
}